.personal__bgcolor-1{
    background-color: #192072;
}
.personal__bgcolor-2{
    background-color: #EBEBEB;
}
.banner__img{
    height: 30rem;
    object-fit: cover;
    object-position: 0 40%;
}

.main__section{
    height:30rem;
}

.carousel__text{
    width: 75%;
}

